.elipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cursor-p{
    cursor: pointer;
    z-index:1;
}

@media screen and (max-width:768px) {
    .memo-card-body{
      display: flex;
      flex-wrap: wrap;
      height: auto;
      max-height: 50vh;
    }
  }
