/* ーーーーカードーーーーー */

.card-list {
  list-style: none;
  width: 50%;
}

.card-image {
  min-height: 200px;
  max-height: 280px;
}

.card-title {
  max-height: 50px;
  overflow: hidden;
}

.card-text {
  max-height: 50px;
  overflow: hidden;
}
 /* ーーーーーーーーーーーー */

 .site-show-image {
    max-height: 230px;
  }

  .events-none {
    pointer-events: none;
  }

  .events-auto {
    cursor: pointer;
    pointer-events: all;
  }

  .note-link {
    justify-content: space-between;
  }

  /*
    a {
      color: #676767;
      text-decoration: none;
    } */
