/* ーーーーカードーーーーー */

.card-list {
  list-style: none;
  width: 50%;
}

.card-image {
  min-height: 200px;
  max-height: 280px;
}

.card-title {
  max-height: 50px;
  overflow: hidden;
}

.card-text {
  max-height: 50px;
  overflow: hidden;
}
 /* ーーーーーーーーーーーー */

 .site-show-image {
    max-height: 230px;
    max-width: 100%;
  }

  .events-none {
    pointer-events: none;
  }

  .events-auto {
    cursor: pointer;
    pointer-events: all;
  }

  .note-link {
    justify-content: space-between;
  }

/* ーーーーレスポンシブーーーー */
@media screen and (max-width:768px) {
  .card-list {
    width: 95%;
    margin: 0 auto;
  }
}
